<div class="container">
  <h1>All Advertisements</h1>
  <% @advertisements.each do |advertisement| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to "#{advertisement.id}. #{advertisement.title}", advertisement %>
        </h4>
      </div>
    </div>
  <% end %>
</div>
